html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin : 0;
    padding : 0;
    border : 0;
    outline : 0;
    font-size : 100%;
    vertical-align : baseline;
    background : transparent;
}

blockquote, q {
    quotes : none;
}

body {
    line-height : 1;
}

ol, ul {
    list-style : none;
}

:focus {
    outline : 0;
}

ins {
    text-decoration : none;
}

del {
    text-decoration : line-through;
}

table {
    border-collapse : collapse;
    border-spacing : 0;
}

html, body {
    min-height : 100%;
}

body {
    background-color : #fff;
    width : 100%;
    min-width : 768px;
}

q {
    quotes : "\201c" "\201d" "\2018" "\2019";
}


.button {
    color : #222;
    text-decoration : none;
    padding : 0.2em 0.4em;
    border : 1px solid #bbb;
    -webkit-border-radius : 0.4em;
    -moz-border-radius : 0.4em;
    border-radius : 0.4em;
    margin-left : 0.4em;
    background : -webkit-linear-gradient(#aaa, #ccc);
    background : -moz-linear-gradient(#aaa, #ccc);
    background : linear-gradient(#aaa, #ccc);
}

.button:hover {
    background : -webkit-linear-gradient(#ccc, #aaa);
    background : -moz-linear-gradient(#ccc, #aaa);
    background : linear-gradient(#ccc, #aaa);
}


#header {
    width : 100%;
    background : #999;
}

#header a {
    color : #222;
    text-decoration : none;
}

#title {
    width : auto;
    font-size : 2.5em;
    padding : 0.2em;
    padding-left : 0.4em;
    position : relative;
    float : left;
}

#account {
    width : auto;
    line-height : 3.5em;
    padding-right : 0.6em;
    position : relative;
    float : right;
}

#nav {
    width : 100%;
    clear : both;
    background : #ccc;
    margin-bottom : 2em;
    padding-left : 0.6em;
    padding-right : 0.4em;
}

#nav:after {
    content : "";
    clear : both;
    display : block;
}

#nav li {
    width : auto;
    padding : 0.3em;
    padding-left : 0.6em;
    padding-right : 0.6em;
    float : left;
}

#nav li:hover {
    background : #aaa;
}

#nav ul ul {
    position : absolute;
    margin : 0.3em;
    display : none;
}

#nav ul li:hover ul {
    display : block;
    background : #ccc;
    margin-left : -0.6em
}

#nav ul ul li {
    float : none;
}

#nav ul li:hover ul li:hover {
    background: #aaa;
}

h2 {
    text-align : center;
    font-size : 2em;
    padding : 0.3em;
}

h3 {
    margin-top : 0.6em;
    text-align : center;
    font-size : 1.25em;
    padding : 0.3em;
}


#listing {
    display : table;
    width : auto;
    max-width : auto;
    margin-left : auto;
    margin-right : auto;
    margin-top : 1em;
    margin-bottom : 0.5em;
}

#listing table {
    margin-left : auto;
    margin-right : auto;
    border : 3px double #666;
    border-collapse : collapse;
}

#listing th {
    padding : 0.3em;
    border : 3px double #666;
}

#listing td {
    padding : 0.3em;
    border-width : 1px 3px;
    border-style : solid double;
    border-color : #666;
}

#listing .icon {
    height : 18px;
    padding : 0em 0.3em;
}

#listing p {
    margin: 0.3em;
}


#create, #modify, #search {
    display : table;
    margin-top : 1em;
    margin-left : auto;
    margin-right : auto;
}

#create .button, #modify .button {
    display : table;
    margin-top : 0.3em;
    margin-left : auto;
    margin-right : auto;
}


#create td, #modify td, #search td {
    padding : 0.1em 0.3em;
}

.left {
    text-align : left;
}

.right {
    text-align : right;
}


#departments {
    display : table;
    margin-top : 1em;
    margin-left : auto;
    margin-right : auto;
}

#search table {
    float : left;
}

#search {
    display : table;
}

#search .button {
    display : table-cell;
    float : left;
    vertical-align : middle;
}

#about {
    display : table;
    max-width : 1000px;
    margin-left : auto;
    margin-right : auto;
}

#about p {
    padding : 0.5em;
    text-indent : 2.5em;
}
